# mac/windows
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# node (se mai)
node_modules/

# log
*.log

# dati locali / salvati (IMPORTANTISSIMO)
saved/
data/
*.sqlite
*.db

# storage
storage/users.json
storage/uploads/
storage/saved/
storage/settings/

# env
.env
